################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScrapingTemplateSimple4.8/obj
/packages
/.vs
/.idea/.idea.ScrapingTemplateSimple4.8/.idea
/ScrapingTemplateSimple4.8/bin/Debug
